<div><%= image_tag url_for(message.user.get_avatar("50x50").processed) %></div>
<div class="message message-text p-2 ms-2 mb-0" id="message-<%= message.id %>">
  <%= simple_format(h message.content) %>
</div>

