<div class="message">
  <div><%= image_tag url_for(message.user.get_avatar("50x50^")), class:"rounded-circle" %></div>
  <div class="message-text p-2 d-flex align-items-center" id="message-<%= message.id %>">
    <%= simple_format(h message.content) %>
</div>
</div>
<small class="sender-name"><%= message.user.nickname %></small>