<div class="container">
  <section class="row justify-content-center">
    <div class="media mt-5">
      <div class="media-img-wrapper"><%= image_tag @user.get_avatar("250x250"),  class:"rounded-circle" %></div>
      <div class="media-body ml-lg-5">
        <h3><%= @user.nickname %></h3><br>
        <%= @user.comment %><br>
      </div>
    </div>
  </section>

  <section class="row">
    <div class="future-event-list">
      .
    </div>
  </section>
</div>
