<% @events.each do |event| %>
    <div class="border-top mb-3">
      <div class="d-lg-flex event-item p-lg-3 pt-3">
        <%= event.event_name %>
        <%= event.date %>
      </div>
    </div>
<% end %>
