<% if events.empty? %>
  <p class="font-weight-bold">まだ参加予定の宴会はありません、、、宴会を探しましょう！</p>
<% else %>
  <% events.each do |event| %>
    <div class="card event-card mr-lg-1 mb-3 shadow">
      <b class="card-badge"></b>
      <div class="card-img-wrapper">
        <%= image_tag event.event_image %>
      </div>
      <div class="card-body d-flex flex-column">
        <h5 class="card-title"><%= event.event_name %></h5>
        <small class="card-text event-detail mb-3"><%= event.detail %></small>
        <div class="mt-auto">
          <%= link_to "見にいく！", event_path(event.id), class:"btn btn-info" %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>