@import "bootstrap/scss/bootstrap";

body{
  color: #545B63!important;
  min-height: 100vh;
}

.brand{
  font-size: 50px !important;
}

.btn-primary{
  background-color: #06B6D4!important;
  border-color: #06B6D4!important;
}

.event-list-wrapper{
  width: 80%;
  margin: 0 auto;
}

.event-list::after{
  content: "";
  display: block;
  width: 32%;
  margin-right: 0.25rem;
}

.event-card {
  width: 32%;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.event-card .card-img-wrapper {
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
}

.event-card .card-img-wrapper img {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.event-card .card-title {
  font-size: 1.1rem;
}

.popular-event {
  background-color: #f4f4f4;
}


@media screen and (max-width: 768px) {
  .event-card {
    width: 100%;
    margin-bottom: 20px;
  }
}

.heading{
  display: flex;
  width: 70%;
  align-items: center;
  margin: 0 auto 15px;
  &::before,
  &::after{
    content: "";
    height: 0;
    flex: 1;
    border-top: 2px solid currentColor;
    margin: 0 10px;
  }
}

footer{
  color: #fff;
  background-color: #373737;
}

.wedget{
  top: 20px;
}

@media screen and (min-width: 992px){
  .wedget{
    position: sticky!important;
  }
}

@media screen and (max-width: 992px){
  .search-result{
    margin-top: 50px;
  }
}