// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.top-search-btn{
  width: 80%;
  max-width: 100%;
}

.collapse{
  justify-content: end;
}

.top-image{
  position: relative;
  height: 85vh;
  background-image: image-url('top.jpg');
  background-position: center center;
  background-size: cover;
}

.top-search-text{
  color: #A6634B;
  font-weight: bold;
}

.search-wrapper{
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background: rgba(255, 255, 255, 0.8);
  width: 85%;
}

.search-date,
.search-area{
  width: 49%;
}

.about-site{
  background-color: #DCD0C0;
  height: 50vh;
  .about-site-head{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: .5rem;
  }
  p{
    text-align: center;
    line-height: 2.5;
    margin: 0 0 50px;
  }
}

.popular-event {
  background-color: #f4f4f4;
  counter-reset: num;
  .card-badge{
    display: block;
    position: relative;
    counter-increment: num 1;
    &::before{
      content: counter(num) "位";
      position: absolute;
      z-index: 2;
      top: .5rem;
      left: .3125rem;
      color: #fff;
      font-size: .875rem;
      font-weight: bold;
      transform: rotate(-45deg);
    }
    &::after{
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      border-width: 3.75rem 3.75rem 0 0;
      border-style: solid;
      border-color: #F1991D transparent transparent transparent;
    }
  }
}

@media screen and (max-width: 768px) {

  .top-image{
    background-position: 80% center;
  }

  .about-site{
    .about-site-head{
      font-size: 1.3rem;
      letter-spacing: 0.3rem;
    }
    p{
    line-height: 1.5;
    .text-bar{
    display: block;
    }
  }
  }
  
  .top-event-list{
    width: 100%;
  }
}