// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.my-message{
  .message{
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto;
  }
 .message-text{
  background-color: #4bc74e;
  border-radius: 1rem;
  }
  .sender-name{
    margin-left: auto;
  }
}

.others-message {
  .message{
    display: flex;
  }
 .message-text{
  background-color: #F3F3F3;
  border-radius: 1rem;
  }
}

.message{
  max-width: 60%;
  p{
    margin-bottom: 0;
    word-break: break-all;
  }
}