// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.message-text{
  max-width: 70%;
  border-radius: 1rem;
}

.my-message{
  .message{
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto;
  }
 .message-text{
  background-color: #4bc74e;
  max-width: 70%;
  border-radius: 1rem;
    p{
      margin-bottom: 0;
    }
  }
  .sender-name{
    margin-left: auto;
  }
}

.others-message {
  .message{
    display: flex;
  }
 .message-text{
  background-color: #F3F3F3;
  max-width: 70%;
  border-radius: 1rem;
    p{
      margin-bottom: 0;
    }
  }
}