// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.restaurant-btn {
  background-color: #FFAAA5!important;
}

.btn-done{
  background-color: #FFAAA5!important;
}

.wedget{
  top: 20px;
}

@media screen and (max-width: 992px){
  .search-result{
    margin-top: 100px;
  }
}