// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.room{
  background: #a0e8fc;
  min-height: 90vh;
  max-width: 768px;
  margin: 0 auto;
}

.message-form{
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.my-message,
.other-message {
  p{
  word-break: break-all;
  }
}